<div class="form-container">

                        <div>
                            <h1>Login</h1>    
                        </div>
                        <form action="/userDashboard" method="POST">

                            <div class="form-control">    
                                <label for="username">Username </label>
                                <input type="text" id="username" name="username">
                            </div> 
                    
                            <div class="form-control">    
                                <label for="username">Password </label>
                                <input type="password" id="password" name="password">
                            </div> 
                                        
                            <div class="form-control">
                                <input type="submit" value="Register" class="btn">         
                            </div>
                    
                        </form>
    
                    </div>